<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Connections</title>
</head>
<body>

  <ul>
      {% for x in connection %}
    <div>
      ------------------------------------
      <p>Username: {{ x.username }}</p>
      <p>Role: {{ x.urole }}</p>
      -------------------------------------
    </div>
      {% endfor %}
  </ul>
  <a class="button" href="{{ url_for('profile', username=username) }}">Back</a>
  <a class="button" href="{{ url_for('returner', username=username) }}">Home</a>


</body>
</html>
